<div class="ma-signin">
    <p>
        <input type="text" ng-model="newEmail" />
        <input type="password" ng-model="newPassword" />
        <input type="password" ng-model="newPasswordBis" />
        <button ng-click="ctrl.createEmailAccount(newEmail, newPassword, newPasswordBis)">Create account</button>
    </p>
    <p>
        <input type="text" ng-model="email" />
        <input type="password" ng-model="password" />
        <button ng-click="ctrl.emailSignin(email, password)">Signin</button>
    </p>
    <p>
        <button ng-click="ctrl.anonSignin()">Anonymous Signing</button>
    </p>
    <p>
        <button ng-click="ctrl.facebookSignin()">Facebook Signing</button>
    </p>
    <hr>
    newEmail: {{ newEmail || '-' }} |
    newPassword: {{ newPassword || '-' }} |
    newPasswordBis: {{ newPasswordBis || '-' }} |
    email: {{ email || '-' }} |
    password: {{ password || '-' }}
</div>